In [150]:
import numpy as np
import math
import statistics

In [3]:
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])

1. How many negative numbers are there?

In [4]:
negative_numbers = a[a<0]
print(len(negative_numbers))

4

### (a<0).sum()
This is a rare way but easy.

2. How many positive numbers are there?

In [5]:
postive_numbers = a[a>0]
print(len(postive_numbers))

5

3. How many even positive numbers are there?

In [6]:
postive_even = a[(a>0) & (a%2 ==0)]
print(len(postive_even))

3

4. If you were to add 3 to each data point, how many positive numbers would there be?

In [7]:
add_three = a+3
print(add_three)

[ 7 13 15 26  1  2  3  3  3 -3  6 -4]

5. If you squared each number, what would the new mean and standard deviation be?

In [8]:
squared_number = a**2

In [9]:
squared_number.mean()

74.0

In [10]:
a.mean()
a.std()

8.06225774829855

In [11]:
squared_number.std()

144.0243035046516

6. A common statistical operation on a dataset is centering. This means to adjust the data such that the mean of the data is 0. This is done by subtracting the mean from each data point. Center the data set.

In [12]:
a.mean()

3.0

In [127]:
centering = a - a.mean()
np.sort(centering)
print(centering)

[  1.   7.   9.  20.  -5.  -4.  -3.  -3.  -3.  -9.   0. -10.]

7. Calculate the z-score for each data point. Recall that the z-score is given by:

In [14]:
z_score = (a - a.mean()) / a.std()
z_score

array([ 0.12403473,  0.86824314,  1.11631261,  2.48069469, -0.62017367,
       -0.49613894, -0.3721042 , -0.3721042 , -0.3721042 , -1.11631261,
        0.        , -1.24034735])

More Numpy_exercises

In [50]:
import numpy as np
# Life w/o numpy to life with numpy

## Setup 1
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
# Exercise 1 - Make a variable called sum_of_a 
#to hold the sum of all the numbers in above list
b = np.array(b)
sum_of_b = b.sum()
print(sum_of_b)

55

In [17]:
# Exercise 2 - Make a variable named min_of_a to 
#hold the minimum of all the numbers in the above list
min_of_b = b.min()

In [18]:
#max_of_a to hold the max number of all the numbers in the above list
max_of_b = b.max()

In [19]:
#mean_of_a to hold the average of all the numbers in the above list
mean_of_b = b.mean()

In [105]:
#hold the product of multiplying all the numbers in the above list together
product_of_b = np.product(b)
print(product_of_b)

20160

In [21]:
#sqared_of_a should hold each number in a squared like [1, 4, 9, 16, 25...]
square_of_b = b **2
print(square_of_b)

[  1   4   9  16  25  36  49  64  81 100]

In [22]:
#Make a variable named odds_in_a. It should hold only the odd numbers
odds_in_b = b[b%2 ==1]
print(odds_in_b)

[1 3 5 7 9]

In [23]:
#Make a variable named evens_in_a. It should hold only the evens.
even_in_b = b[b%2 ==0]
print(odds_in_b)

[1 3 5 7 9]

In [52]:
b = [
    [3, 4, 5],
    [6, 7, 8]
]

In [53]:
# Exercise 1 - refactor the following to use numpy. 
#Use sum_of_b as the variable. 
#**Hint, you'll first need to make sure that the "b" 
#variable is a numpy array**
sum_of_b = 0
for row in b:
    sum_of_b += sum(row)
print(sum_of_b)

33

In [54]:
# Exercise 2 - refactor the following to use numpy. 
min_of_b = min(b[0]) if min(b[0]) <= min(b[1]) else min(b[1])  
print(min_of_b)

3

In [55]:
# Exercise 3 - refactor the following maximum calculation to find the answer with numpy.
max_of_b = max(b[0]) if max(b[0]) >= max(b[1]) else max(b[1])

print(max_of_b)

8

In [56]:
# Exercise 4 - refactor the following using numpy to find the mean of b
mean_of_b = (sum(b[0]) + sum(b[1])) / (len(b[0]) + len(b[1]))
print(mean_of_b)

5.5

In [57]:
# Exercise 5 - refactor the following to use numpy for calculating the product of all numbers multiplied together.
product_of_b = 1
for row in b:
    for number in row:
        product_of_b *= number
print(product_of_b)

20160

In [58]:
# Exercise 6 - refactor the following to use numpy to find the list of squares 
squares_of_b = []
for row in b:
    for number in row:
        squares_of_b.append(number**2)
print(squares_of_b)

[9, 16, 25, 36, 49, 64]

In [59]:
# Exercise 7 - refactor using numpy to determine the odds_in_b
odds_in_b = []
for row in b:
    for number in row:
        if(number % 2 != 0):
            odds_in_b.append(number)
            
print(odds_in_b)

[3, 5, 7]

In [60]:
# Exercise 8 - refactor the following to use numpy to filter only the even numbers
evens_in_b = []
for row in b:
    for number in row:
        if(number % 2 == 0):
            evens_in_b.append(number)
print(evens_in_b)

[4, 6, 8]

In [61]:
## Exercise 9 - print out the shape of the array b.
b = np.array(b)
b.shape

(2, 3)

In [62]:
# Exercise 10 - transpose the array b.
#Reverse or permute the axes of an array; returns the modified array.

#For an array a with two axes, transpose(a) gives the matrix transpose.
np.transpose(b, axes=None)

array([[3, 6],
       [4, 7],
       [5, 8]])

In [69]:
# Exercise 11 - reshape the array b to be a single list of 6 numbers. (1 x 6)
b = np.reshape(b, (1, 6))
print(b)

[[3 4 5 6 7 8]]

### b.flatten() 
Also do the same thing if we only need 1d array.

In [70]:
# Exercise 12 - reshape the array b to be a list of 6 lists, each containing only 1 number (6 x 1)
b = np.reshape(b, (6, 1))
print(b)

[[3]
 [4]
 [5]
 [6]
 [7]
 [8]]

In [146]:
## Setup 3
c = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [72]:
#Exercise 1 - Find the min, max, sum, and product of c.
c = np.array(c)

In [73]:
c.min()

1

In [75]:
c.max()

9

In [76]:
c.sum()

45

In [84]:
np.product(c)

362880

In [78]:
# Exercise 2 - Determine the standard deviation of c.
c.std()

2.581988897471611

In [79]:
# Exercise 3 - Determine the variance of c.
c.var()

6.666666666666667

In [80]:
# Exercise 4 - Print out the shape of the array c
c.shape

(3, 3)

output = {
    "sum": sum(flattened_list),
    "min": min(flattened_list),
    "max": max(flattened_list),
    "avg": sum(flattened_list) / len(flattened_list),
    "squares": [n**2 for n in flattened_list]
}
output

In [96]:
# Exercise 5 - Transpose c and print out transposed result.
new_shape = np.transpose(c, axes=None)
print(new_shape)

[[1 4 7]
 [2 5 8]
 [3 6 9]]

### np.T 
It's also the way to do transpose, becuase it's too common.

In [100]:
# Exercise 6 - Get the dot product of the array c with c. 
np.dot(c,c)

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

In [159]:
# Exercise 7 - Write the code necessary to sum up the result of c times c transposed. 
c_times_c_transposed = c * c.T
print(c_times_c_transposed)

[[ 1  8 21]
 [ 8 25 48]
 [21 48 81]]

In [160]:
c_times_c_transposed.sum()

261

In [154]:
(c *c.T).prod()

131681894400

In [155]:
(c * c.T).sum()

261

In [153]:
c = np.array(c)
c * c.T

array([[ 1,  8, 21],
       [ 8, 25, 48],
       [21, 48, 81]])

In [152]:
# Exercise 8 - Write the code necessary to determine the product of c times c transposed.
np.product(c_times_c_transposed)

131681894400

In [104]:
d = [
    [90, 30, 45, 0, 120, 180],
    [45, -90, -30, 270, 90, 0],
    [60, 45, -45, 90, -45, 180]
]

In [108]:
# Exercise 1 - Find the sine of all the numbers in d
np.sin(d)

array([[ 0.89399666, -0.98803162,  0.85090352,  0.        ,  0.58061118,
        -0.80115264],
       [ 0.85090352, -0.89399666,  0.98803162, -0.17604595,  0.89399666,
         0.        ],
       [-0.30481062,  0.85090352, -0.85090352,  0.89399666, -0.85090352,
        -0.80115264]])

In [109]:
# Exercise 2 - Find the cosine of all the numbers in d
np.cos(d)

array([[-0.44807362,  0.15425145,  0.52532199,  1.        ,  0.81418097,
        -0.59846007],
       [ 0.52532199, -0.44807362,  0.15425145,  0.98438195, -0.44807362,
         1.        ],
       [-0.95241298,  0.52532199,  0.52532199, -0.44807362,  0.52532199,
        -0.59846007]])

In [140]:
# Exercise 3 - Find the tangent of all the numbers in d
tan = np.tan(d)
np.round_(tan,decimals=5)

array([[-1.9952 , -6.40533,  1.61978,  0.     ,  0.71312,  1.33869],
       [ 1.61978,  1.9952 ,  6.40533, -0.17884, -1.9952 ,  0.     ],
       [ 0.32004,  1.61978, -1.61978, -1.9952 , -1.61978,  1.33869]])

In [112]:
# Exercise 4 - Find all the negative numbers in d
d = np.array(d)

In [113]:
d[d<0]

array([-90, -30, -45, -45])

In [114]:
# Exercise 5 - Find all the positive numbers in d
d[d>0]

array([ 90,  30,  45, 120, 180,  45, 270,  90,  60,  45,  90, 180])

In [118]:
# Exercise 6 - Return an array of only the unique numbers in d.
d_unique = np.unique(d)

In [119]:
# Exercise 7 - Determine how many unique numbers there are in d.

len(d_unique)

11

In [121]:
# Exercise 8 - Print out the shape of d.
d.shape

(3, 6)

In [123]:
# Exercise 9 - Transpose and then print out the shape of d.
new_shape_d = np.transpose(d, axes=None)

In [124]:
# Exercise 10 - Reshape d into an array of 9 x 2
new_shape_d = np.reshape(new_shape_d, (9, 2))
print(new_shape_d)

[[ 90  45]
 [ 60  30]
 [-90  45]
 [ 45 -30]
 [-45   0]
 [270  90]
 [120  90]
 [-45 180]
 [  0 180]]