In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

### Exercises Part I

In [152]:
fruits= pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype('str')

1. Determine the number of elements in fruits.

In [3]:
len(fruits)

17

In [4]:
fruits.size

17

2. Output only the index from fruits.

In [5]:
pd.Series(fruits)

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

3. Output only the values from fruits.

In [6]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4. Confirm the data type of the values in fruits.

In [7]:
fruits.dtype

dtype('O')

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [8]:
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [9]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [10]:
fruits.sample(2)

10    kiwi
0     kiwi
dtype: object

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [11]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7. Run the code necessary to produce only the unique string values from fruits.

In [12]:
fruits_unique = fruits.unique()

In [13]:
fruits_unique = pd.Series(fruits_unique)

8. Determine how many times each unique string value occurs in fruits.

In [14]:
fruits_unique.value_counts()

kiwi                1
mango               1
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

9. Determine the string value that occurs most frequently in fruits.

In [34]:
fruits_count = fruits.value_counts()
print(fruits_count)

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

10. Determine the string value that occurs least frequently in fruits.

In [31]:
#fruits.nsmallest(n=1, keep='all')
fruits_count.nsmallest(n=1,keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [33]:
fruits_count.nlargest(n=1,keep = "all")

kiwi    4
dtype: int64

### Exercises Part II

1. Capitalize all the string values in fruits.

In [45]:
fruits_upper =fruits.str.upper()
print(fruits_upper)

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

2. Count the letter "a" in all the string values (use string vectorization).

In [94]:
fruits_a = fruits.str.findall('a')
fruits_a.str.len()

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

3. Output the number of vowels in each and every string value.

In [97]:
vowels = list('aeiou')
vowels

['a', 'e', 'i', 'o', 'u']

In [116]:
fruits_vowels = [fruit for fruit in vowels]
print(fruits_vowels)

['a', 'e', 'i', 'o', 'u']

In [120]:
len([i for i in 'kiwi' if i in vowels])

2

In [125]:
def count_vowels(string):
    vowels = ['a','e','i','o','u']
    return len([i for i in string if i in vowels])

In [126]:
fruits.apply(count_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [151]:
fruits_vowels = fruits.apply(lambda x: len([i for i in x if i in vowels]))
print(fruits_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

4. Write the code to get the longest string value from fruits.

In [136]:
#longest_string = fruits.str.len().nlargest(n=1, keep='first')

#longest_string.nlargest(n=1, keep='first')

#print(longest_string)

In [134]:
longest_string = max(fruits, key = len)

In [137]:
print(longest_string)

honeycrisp apple

5. Write the code to get the string values with 5 or more letters in the name.

In [183]:
fruits.str.len() >5

0     False
1     False
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10    False
11    False
12    False
13     True
14     True
15     True
16     True
dtype: bool

In [146]:
fruits[fruits.str.len() >5]

2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

6. Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [155]:
letter_o = ['o']

In [163]:
letter_o = fruits.apply(lambda x: len(x))

In [180]:
fruits[fruits.str.findall('o').apply(lambda x: len(x) >= 2)]

6         tomato
15    gooseberry
dtype: object